@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin rotate($angle) {
  transform: rotate($angle);
}

@mixin box-shadow($value) {
  box-shadow: $value;
}

@mixin transition($value) {
  transition: $value;
}