$base: 0.5rem;
$scale: 1;
$card-img-height: 200px;
$primary-dark-color: #111827;
$secondary-dark-color: #282f3c;
$primary-light-color: #eee;
$secondary-light-color: #bebebe;
$transitionAll: all 0.5s ease 0s;