.header__title__text {
  display: inline-block;
  width: fit-content;
  border-right: 2px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typingAndBlink 2s steps(40, end) 0.7s, blink 2s step-end none;
  animation-fill-mode: backwards;
}