.home__title__name {
  animation-name: moveInLeft;
  animation-duration: 1.5s;
}

.home__title__surname {
  animation-name: moveInRight;
  animation-duration: 1.5s;
}

.home__title__description {
  animation-name: moveInTop;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.home__role-card {
  animation-name: appear;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.header-btn {
  cursor: pointer;
  font-weight: 400;
  line-height: 3rem;
}

.header-btn-hover {
  letter-spacing: 0;
}

.header-btn-hover:hover,
.header-btn-hover:active {
  letter-spacing: 3px;
}

.header-btn-hover:after,
.header-btn-hover:before {
  backface-visibility: hidden;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.header-btn-hover:hover:after,
.header-btn-hover:hover:before {
  backface-visibility: hidden;
  transition: width 350ms ease-in-out;
  width: 80%;
}

.header-btn-hover:hover:before {
  bottom: auto;
  top: 0;
  width: 80%;
}

.dark-header-btn-hover:after,
.dark-header-btn-hover:before {
  border: 1px solid rgba(#eee, 0);
}
.dark-header-btn-hover:hover:after,
.dark-header-btn-hover:hover:before {
  border-color: #eee;
}
.light-header-btn-hover:after,
.light-header-btn-hover:before {
  border: 1px solid rgba(#111827, 0);
}
.light-header-btn-hover:hover:after,
.light-header-btn-hover:hover:before {
  border-color: #111827;
}
