.name {
  animation-name: moveInLeft;
  animation-duration: 3s;
}
.surname {
  animation-name: moveInRight;
  animation-duration: 3s;
}

.description {
  animation-name: moveInTop;
  animation-duration: 3s;
}

.languages {
  animation-name: appear;
  animation-duration: 3s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(75px);
  }
  80% {
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
