.download-button {
  display: inline-block;
  padding: 12px 12px 10px;
  border: 0;
  border-radius: 3px;
  transition: all 1.2s ease-in-out;
  
  .download-icon::after {
    content: "\f019";
    font-size: 40px;
    color: #fff;
  }
  
  &:hover {
    animation: pulse 0.2s 2 both;
  }
  
  &.loading {
    .loading-icon {
      animation: loading 2s infinite linear;
      
      &::after {
        content: "\f1ce";
      }        
    }
  }
  
  &.success {
    border-radius: 50%;
    background: #80bca3;
    
    .download-button::after {
      content: "\f00c";
      color: transparent;
      animation: change-icon 1s 0.6s linear both;
    }
  }
}