.download-button {
  padding: 12px 12px 10px;
  border-radius: 1rem;
  transition: all 1.2s ease-in-out;
  
  &:hover {
    animation: pulse 0.2s 2 both;
  }
  
  &.loading {
    .loading-icon {
      animation: loading 2s infinite linear;    
    }
  }
  
  &.success {
    border-radius: 50%;
    background: #80bca3;
    
    .success-icon {
      animation: change-icon .5s .6s linear both;
    }
  }
}