.dark-footer {
  background-color: $secondary-dark-color;
  color: $primary-light-color;
}
.light-footer {
  background-color: $secondary-light-color;
  color: $primary-dark-color;
}

.footer {
  z-index: 49; // back to popup that is 50
  position: fixed;
  width: 100%;
  align-items: center;
  margin: 0 auto 0 auto;
  bottom: 0;
  padding-top: 1.5rem;
}

.footer-link {
  --tw-blur: blur(0);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
