$easeTime: 0.2s;
$blockSize: 50px;
$colorText: #345;
$colorTextLighter: #567;
$colorTextLightest: #789;

.project-container {
  width: 100%;
  // padding: $blockSize $blockSize/4 0 $blockSize/4;
  display: grid;
  grid: auto-flow $blockSize * 6 / repeat(
      auto-fit,
      minmax($blockSize * 5, $blockSize * 5)
    );
  grid-gap: $blockSize/4;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.item {
  position: relative;
  width: $blockSize;
  height: $blockSize;
  display: grid;
  grid: 1fr / 1fr;
  perspective: 500px;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  &__hover-icon {
    position: absolute;
    height: $blockSize;
    width: $blockSize;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    font-size: 2.2em;
    color: white;
    opacity: 0;
    z-index: 10000;
    pointer-events: none;
  }
  &__image {
    position: absolute;
    bottom: 0;
    left: -$blockSize * 2;
    height: $blockSize * 3;
    width: $blockSize * 5;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    z-index: 99999;
    transform: translateZ(0.01px);
    -webkit-transform: translateZ(0.01px);
    pointer-events: none;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0.8;
    }
  }
  &__description {
    position: absolute;
    top: $blockSize;
    left: -$blockSize * 2;
    height: $blockSize * 1.5;
    width: $blockSize * 5;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.85;
    z-index: 999;
    transform: translateZ(0.01px);
    -webkit-transform: translateZ(0.01px);
    a {
      text-decoration: none;
    }
    p {
      font-size: 1.03em;
      letter-spacing: 0.03em;
      color: $colorText;
    }
  }
  .flip-up {
    transform: rotate3D(1, 0, 0, 180deg);
  }
  .flip-right {
    transform: rotate3D(0, 1, 0, 180deg);
  }
  .flip-down {
    transform: rotate3D(1, 0, 0, 180deg);
  }
  .flip-left {
    transform: rotate3D(0, 1, 0, -180deg);
  }
}

.icon-switch {
  &__outer {
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: opacity $easeTime linear 0s;
  }
  &__inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity $easeTime * 3 linear $easeTime * 8;
  }
}

.image-switch {
  &__outer {
    height: 100%;
    transition: opacity $easeTime linear 0s;
  }
  &__inner {
    height: 100%;
    transition: opacity $easeTime * 3 linear $easeTime * 6;
  }
}

.description-switch {
  &__outer {
    height: 100%;
    width: 100%;
    transition: opacity $easeTime linear 0s;
  }
  &__inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: opacity $easeTime * 3 linear $easeTime * 6;
  }
}

.flap {
  position: absolute;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  transform-style: preserve-3d;
  z-index: -1;
  p {
    margin: auto;
    font-family: sans-serif;
    color: white;
    visibility: hidden;
  }
}

.flip-up {
  transform-origin: 50% 0%;
}

.flip-right {
  transform-origin: 100% 50%;
}

.flip-down {
  transform-origin: 50% 100%;
}

.flip-left {
  transform-origin: 0% 50%;
}

.level1 {
  transition: all $easeTime linear 0s;
}

.level2 {
  transition: all $easeTime linear $easeTime;
}

.level3 {
  transition: all $easeTime linear $easeTime * 2;
}

.level4 {
  transition: all $easeTime linear $easeTime * 3;
}

.level5 {
  transition: all $easeTime linear $easeTime * 4;
}

.level6 {
  transition: all $easeTime linear $easeTime * 5;
}

.level7 {
  transition: all $easeTime linear $easeTime * 6;
}

.level8 {
  transition: all $easeTime linear $easeTime * 7;
}

.level8Alt {
  transition: all $easeTime linear $easeTime * 7;
}
.project-button-info {
  z-index: 1;
  transition: all $easeTime * 4 ease-in-out 0s;
}
.project-button-info-1 {
  color: #55cccc;
}
.project-button-info-2 {
  color: #e95555;
}
.project-button-info-3 {
  color: #3b91f4;
}
.project-button-info-4 {
  color: #a57455;
}
.level0Color1 {
  background-color: #4488cc;
}
.level1Color1 {
  background-color: #4466cc;
}
.level2Color1 {
  background-color: #4477cc;
}
.level3Color1 {
  background-color: #4499cc;
}
.level4Color1 {
  background-color: #55aacc;
}
.level5Color1 {
  background-color: #55bbcc;
}
.level6Shadow1 {
  box-shadow: 0 1px 2px 3px #55cccc, 0 2px 4px -2px #55cccc;
}
.level6Color1 {
  transition: all $easeTime linear 0s;
  background-color: #55cccc;
}
.level7Color1 {
  background-color: #55ddcc;
}
.level8Color1 {
  background-color: #55ffcc;
}
.level8AltColor1 {
  background-color: #55eecc;
}

.level0Color2 {
  background-color: #aa0000;
}
.level1Color2 {
  background-color: #bb0000;
}
.level2Color2 {
  background-color: #cd0000;
}
.level3Color2 {
  background-color: #ef2b2b;
}
.level4Color2 {
  background-color: #ef2b2b;
}
.level5Color2 {
  background-color: #ec4040;
}
.level6Shadow2 {
  box-shadow: 0 1px 2px 3px #e95555, 0 2px 4px -2px #e95555;
}
.level6Color2 {
  transition: all $easeTime linear 0s;
  background-color: #e95555;
}
.level7Color2 {
  background-color: #e56b6b;
}
.level8Color2 {
  background-color: #e28080;
}
.level8AltColor2 {
  background-color: #eaa8a8;
}

.level0Color3 {
  background-color: #9fccfa;
}
.level1Color3 {
  background-color: #8ec2f9;
}
.level2Color3 {
  background-color: #7eb8f8;
}
.level3Color3 {
  background-color: #6daff7;
}
.level4Color3 {
  background-color: #5ca5f6;
}
.level5Color3 {
  background-color: #4c9bf5;
}
.level6Shadow3 {
  box-shadow: 0 1px 2px 3px #3b91f4, 0 2px 4px -2px #3b91f4;
}
.level6Color3 {
  transition: all $easeTime linear 0s;
  background-color: #3b91f4;
}
.level7Color3 {
  background-color: #2a88f3;
}
.level8Color3 {
  background-color: #1a7ef2;
}
.level8AltColor3 {
  background-color: #0974f1;
}
.level0Color4 {
  background-color: #ede0d4;
}
.level1Color4 {
  background-color: #e6ccb2;
}
.level2Color4 {
  background-color: #ddb892;
}
.level3Color4 {
  background-color: #b08968;
}
.level4Color4 {
  background-color: #7f5539;
}
.level5Color4 {
  background-color: #9c6644;
}
.level6Shadow4 {
  box-shadow: 0 1px 2px 3px #a57455, 0 2px 4px -1px #a57455;
}
.level6Color4 {
  transition: all $easeTime linear 0s;
  background-color: #a57455;
}
.level7Color4 {
  background-color: #ad8164;
}
.level8Color4 {
  background-color: #b48c72;
}
.level8AltColor4 {
  background-color: #bb967f;
}

.blank {
  background-color: #cde;
}

.arrow-left-right {
  // animation: left-right .8s ease-in-out infinite ;
  animation-name: left-right;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .item {
    .flip-up {
      transform: rotate3D(1, 0, 0, 0deg);
    }
    .flip-right {
      transform: rotate3D(0, 1, 0, 0deg);
    }
    .flip-down {
      transform: rotate3D(1, 0, 0, 0deg);
    }
    .flip-left {
      transform: rotate3D(0, 1, 0, 0deg);
    }
    &__description {
      pointer-events: none;
    }
    &:hover {
      .level0-text {
        display: none;
        transition: transform $easeTime linear $easeTime * 7;
      }
      .flip-up {
        transform: rotate3D(1, 0, 0, 180deg);
      }
      .flip-right {
        transform: rotate3D(0, 1, 0, 180deg);
      }
      .flip-down {
        transform: rotate3D(1, 0, 0, 180deg);
      }
      .flip-left {
        transform: rotate3D(0, 1, 0, -180deg);
      }
      .icon-switch {
        &__outer {
          opacity: 0;
        }
        &__inner {
          opacity: 0;
        }
      }
      .image-switch {
        &__outer {
          opacity: 1;
        }
        &__inner {
          opacity: 1;
        }
      }
      .description-switch {
        &__outer {
          opacity: 1;
        }
        &__inner {
          opacity: 1;
        }
      }
      .item__description {
        pointer-events: auto;
      }
    }
  }

  .item__hover-icon {
    opacity: 1;
  }

  .icon-switch {
    &__outer {
      opacity: 1;
    }
    &__inner {
      opacity: 1;
    }
  }

  .image-switch {
    &__outer {
      opacity: 0;
    }
    &__inner {
      opacity: 0;
    }
  }

  .description-switch {
    &__outer {
      opacity: 0;
    }
    &__inner {
      opacity: 0;
    }
  }
}
