.card {
  background-image: linear-gradient(
      to right bottom,
      hsla(0, 0%, 2%, 0.9),
      rgba(40, 40, 40, 0.6)
    ),
    url("/kitesurf.JPG");
  background-size: cover;
  background-position: 0% 28%;
  
}

.best {
  background-image: linear-gradient(
      to right,
      hsla(0, 0%, 12%, 0.86),
      rgba(40, 40, 40, .97)
    ),
    url("/world-record.jpeg");
  background-size: cover;
  background-position: center;
}

.webkit {
  text-align: -webkit-center;
}