.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
  width: 80%;
  height: 200px;
  max-width: 70em;
  min-width: 25em;
  background: hsl(0, 0%, 18%);
  box-shadow: 0 30px 30px 30px rgba(0, 0, 0, 0.3);
}
.imagen {
  min-width: 200px;
  max-width: 200px;
  width: 200px;
}
.header {
  display: inline-block;
  width: max-content;
  white-space: nowrap;
  color: transparent;
  -webkit-text-stroke: 1px white;
}
.subTitle {
  font-size: 1.8rem;
  color: transparent;
  -webkit-text-stroke: 1.5px rgb(169, 169, 169);
}
.right {
  overflow: hidden;
  clip-path: polygon(45% 100%, 65% 0, 100% 0, 100% 100%, 8% 100%);
  object-fit: cover;
  height: 250px;
}

@media screen and (max-width: 419px) {
  .subTitle {
    font-size: 1rem;
  }
}
@media screen and (max-width: 639px) {
  .wrapper {
    margin: 0 auto;
    padding: 3.5rem 1rem 2rem 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: fit-content;
  }
  .header {
    margin: 0 auto;
    width: max-content;
    white-space: nowrap;
    color: transparent;
    -webkit-text-stroke: 1px white;
  }
  .subTitle {
    font-size: 1.5rem;
    -webkit-text-stroke: 1px rgb(169, 169, 169);
  }
}