*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(17 24 39);
  color: white;
  box-sizing: border-box;
}

.dark {
  background-color: rgb(17 24 39);
  color: #eee;
  .roleCard {
    background-color: #232332;
    color: #bebebe;
  }
}
.light {
  background-color: #fff;
  color: rgb(17 24 39);
  .roleCard {
    background-color: #303030;
    color: rgb(186, 186, 186);
  }
}


h1 {
  font-size: 6rem;
  line-height: 1;
}

h2 {
  font-size: 3rem;
  line-height: 1;
}

h3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

@media (max-width: 639px) {
  h1 {
    font-size: 3rem;
    line-height: 1;
  }

  h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  h3 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
