.content {
  transition: transform 0.4s;
  transform-style: preserve-3d;
}
.flip:hover .content {
  transform: rotateY(180deg);
  transition: transform 1s;
}
.front,
.back {
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
}
